.container {
  display: flex;
  justify-content: center;
}

.chat {
  width: 45%;
  height: 400px;
  background-color: #fff;
  position: relative;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.user {
  border-width: 1px;
  border-color: #000;
}

.messages {
  height: 200px;
  overflow: scroll;
}

.input {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  border-width: 1px;
  border-color: #000;
}

.input input {
  width: 100%;
  font-size: 17px;
  padding: 5px;
}